/* PopUpParams */

.modal {
    width: 50%;
    background: white;
    /* color: red; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
  }
  
  .modal__header {
    padding: 1rem;
    background: #212529;
    color: white;
  }
  
  .modal__header h1 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .modal__content {
    padding: 1rem;
  }
  
  .modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  @media(min-width: 768px) {
    .modal {
      width: 30rem;
      left: calc((100% - 30rem) / 2);
    }
}

.dropallback {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.80); 
}

.input_param{
  margin:10px;
  border-radius: 5px;
    border: none;
    padding: 5px;
}
