[submodule "src/labpersonal-ittyni"]
	path = src/labpersonal-ittyni
	url = git@github.com:Mkhmalech/labpersonal-ittyni.git
[submodule "src/authentification-redux-lib"]
	path = src/authentification-redux-lib
	url = https://github.com/Mkhmalech/authentification-redux-lib
